<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<meta content="fullscreen=yes,preventMove=no" name="ML-Config">
<meta http-equiv="Cache-Control" content="no-transform " />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>node发送邮件</title>
<link href="/css/main.css" rel="stylesheet">

</head>
<body>
    <div class="success">
      <img src="/img/image_success.png">
    </div>
</body>
</body>
</html>

